// Here you can add other styles
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap');

body {
  font-family: 'Cairo', sans-serif;
}
a{
  text-decoration: none;
}
// @media all and (max-width: 768px) {

//   table,
//   tr,
//   td {
//     display: block !important;
//   }
// }

.j-box-shadow{
  box-shadow: 0 5px 26px 0 rgba(68,88,144,.14);
}